<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/TSP-Solver/src/pl/edu/agh/iet/tsp_solver/Gui/MainWindow.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="pl.edu.agh.iet.tsp_solver.Gui.MainWindow"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="TSP-Solver"/>
</launchConfiguration>
